<!DOCTYPE html>
<html>
    <head>
        <title>Spiral</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/codemirror.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/underscore.js"></script>
        <script type="text/javascript" src="/js/backbone.js"></script>
        <script type="text/javascript" src="/js/codemirror.js"></script>
        <script type="text/javascript" src="/js/mode/javascript.js"></script>
        <script type="text/javascript" src="/js/mode/xml.js"></script>
    </head>
    <body>
        <div id="top-bar">
            <span id="project-name">Project Name</span>
            <ul id="actions"></ul>
            <a href="#" id="save-link">Save</a>
            |
            Current Widget:
            <select id="current-widget">
                <option value='concept-editor'>Concept Editor</option>
                <option value='project-editor'>Project Editor</option>
            </select>
        </div>
        <div id="content">
            <div id="concept-editor">
                <ul class="entity-list" id="concept-list"></ul>
                <ul class="entity-list" id="instance-list"></ul>
                <div id="editors"></div>
            </div>
            <div id="project-editor">
            </div>
        </div>
    </body>
    
    <script type="text/html" id="concept-list-view">
        <%= display_name %>
    </script>

    <script type="text/html" id="instance-list-view">
        <% if (!is_empty) {%>
            <%= id %>
        <% } else { %>
            NEW
        <% } %>
    </script>

    <script type="text/html" id="editor-list-view">
        <div class='editor-header'>
          <%= display_text %> 
        </div>
        <div class="editor-body">
          <%= body %>
        </div>
    </script>

    <script type="text/html" id="action-list-view">
        <a href='#'><%= display_name %></a>
    </script>

    <script type="text/javascript" src="/js/index.js"></script>
</html>
