<!DOCTYPE html>
<html>
    <head>
        <title>Spiral</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/underscore.js"></script>
        <script type="text/javascript" src="/js/backbone.js"></script>
    </head>
    <body>
        <div id="top-bar">
            <span>Project Name</span>
        </div>
        <div id="content">
            <ul id="concept-list"></ul>
            <ul id="instance-list"></ul>
        </div>
    </body>
    
    <script type="text/html" id="concept-list-view">
        <%= display_name %>
    </script>

    <script type="text/javascript" src="/js/index.js"></script>
</html>
