<!DOCTYPE html>
<html>
    <head>
        <title>Spiral</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/underscore.js"></script>
        <script type="text/javascript" src="/js/backbone.js"></script>
    </head>
    <body>
        <div id="top-bar">
            <span id="project-name">Project Name</span>
            <ul id="actions"></ul>
            <a href="#" id="save-link">Save</a>
        </div>
        <div id="content">
            <ul class="entity-list" id="concept-list"></ul>
            <ul class="entity-list" id="instance-list"></ul>
            <div id="editors"></div>
        </div>
    </body>
    
    <script type="text/html" id="concept-list-view">
        <%= display_name %>
    </script>

    <script type="text/html" id="instance-list-view">
        <% if (!is_empty) {%>
            <%= id %>
        <% } else { %>
            NEW
        <% } %>
    </script>

    <script type="text/html" id="editor-list-view">
        <%= display_text %>: <%= body %>
    </script>

    <script type="text/html" id="action-list-view">
        <a href='#'><%= display_name %></a>
    </script>

    <script type="text/javascript" src="/js/index.js"></script>
</html>
