body {
    font-family: Helvetica Neue;
}

#top-bar {
    top: 0;
    left: 0;
    padding: 12px;
    color: white;
    background: black;
    border-bottom: 1px solid white;
}

#project-name {
    font-weight: bold;
    padding: 0 6px;
    border-right: 1px solid white;
}

.entity-list li {
    cursor: pointer;
    padding: 12px;
    border-bottom: 1px solid #999;
    background: white;
    text-align: center;
    font-size: 14px;
}

.entity-list li.selected {
    background: black;
    font-weight: bold;
    color: white;
    border-color: black;
}

.entity-list {
    border-right: 1px solid #999;
    float: left;
}

#editors {
    float: left;
    width: 400px;
    list-style: none;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#editors li {
    border-bottom: 1px solid #ccc;
}

#actions {
    display: inline;
    padding: 0 6px;
    border-right: 1px solid white;
    margin-right: 6px;
}

#actions > li {
    display: inline;
}

#top-bar a {
    color: white;
    /*float: right;*/
}

.editor-header {
    background: none repeat scroll 0 0 black;
    color: white;
    font-size: 12px;
    font-variant: small-caps;
    font-weight: bold;
    padding: 6px;
}

.editor-body input {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    font-family: monospace;
    font-size: 12px;
    padding: 6px;
    width: 96%;
}

.editor-body {
    padding: 9px;
}
