body {
    font-family: Helvetica Neue;
}

#top-bar {
    /*position: fixed;*/
    top: 0;
    /*width: 100%;*/
    left: 0;
    padding: 12px;
    color: white;
    background: black;
    font-weight: bold;
}

.concept-li {
    cursor: pointer;
    padding: 12px;
    border-bottom: 1px solid #999;
    background: white;
}

.concept-li.selected {
    background: black;
    font-weight: bold;
    color: white;
}

#concept-list {
    border-right: 1px solid #999;
    /*border-bottom: 1px solid #999;*/
    float: left;
    /*padding: 18px;*/
}
